<div>
    <a href="/">Click Here To Go Back To The Main Page</a>
  </div>

<pre>

    Education
        AUGUST  2014 - MAY 2019
        Central Michigan University, Mt Pleasant, MI - Bachelors of Science
            Major: Mathematics, Minors: Computer Science and Industrial Technology
    
    Experience
        MAY 2020 - AUGUST 2020
        TDM Business Suite, Remote - Intern - Software Engineer
            Rewrote codebase in Java so the product could become scalable
            Worked alongside four interns, and project manager to achieve the desired result
    
        JANUARY 2020 - APRIL 2020
        CMU Computer Science Department, Mt Pleasant, MI - Research – Undergraduate Assistant
            Designed app to scan QR codes for Apple’s App Store that tracked student engagement for the Northern Nevada Challenger Center Museum located in Reno, Nevada
            Soldered resistors to a microchip that will be used to work the virtual airplane environment
    
        AUGUST 2019 - NOVEMBER 2019
        CMU Technology Services, Mt Pleasant, MI - Student Tech Services Worker
            Assisted with connecting devices to CMU’s internet
            Opened and resolved tickets for students and staff that had problems with their laptops
    
    Extracurricular
        Current
            CompTIA A+ - Studying: 
                Currently studying for Part 1 and 2 to earn the CompTIA A+ credential 
                Topics covered: Hardware, Networking, Operational Procedures, etc

            TRYHACKME - 7369/839580 (Top 1%): 
                Learn about ethical hacking practices with programs included in Kali Linux 
                Topic covered: Linux, Burp Suite, Nmap, Metasploit, LAN/WAN, etc 
                
        Previous
            Institute of Electrical and Electronic Engineers (IEEE) - Member: 
                Developed a GUI and color matrix using Python and Tkinter
            
            Engineering Club at CMU - Founder: 
                Negotiated with Aerotek to receive $500 in funding used lead a team of six to build a drone
    
    
    </pre>

